.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}

.pagination {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination button,
.pagination select,
.pagination input {
  padding: 5px 10px;
  margin: 0 5px;
}

.App-title {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  background-color: #8975c5;
  background: -webkit-linear-gradient(to right, #e8d33f, #06D6A0, #e8d33f);
  background: -moz-linear-gradient(to right, #e8d33f, #06D6A0, #e8d33f);
  background: linear-gradient(to right, #e8d33f, #06D6A0, #e8d33f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}